@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
:root {
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
    --dark: rgb(39, 39, 39);
    --body: rgb(85, 85, 85);
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    color: var(--body);
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.3rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/james-harrison-vpOeXr5wmR4-unsplash\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(22, 22, 22, 0.6);
    z-index: -1;
}

.btn-dark {
    padding: 14px 18px;
    border-width: 2px;
    border-color: white;
    border-radius: 0;
    background-color: var(--dark);
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
}

.row-one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review {
    background-color: rgba(22, 22, 22, 0.8);
    padding: 1rem;
}

.video {
    border-radius: 10px;
}